# Managed by Composer
vendor/

/composer.phar
/composer.lock
/nbproject
/.idea
composer
phpunit.phar
var/*
/.docker/
/.phpunit.result.cache
/phpcs-report.json
/phpstan-report.json
/phpmd-report.json
/cs_fixer-report.json
/docker-compose.yml
/.phpunit.cache/
/coverage.xml


# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
