<?php

$finder = PhpCsFixer\Finder::create()
    ->in([__DIR__ . '/src', __DIR__ . '/tests'])
;

return Gwinn\PhpCsFixer\Defaults::rules([
        '@PSR12' => true
    ])->setFinder($finder)
    // ->setCacheFile(__DIR__ . '/var/cache/.php_cs.cache')
;
